<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
    <webServices>
      
      <protocols>
        <add name="HttpPost"></add>
        <add name="HttpGet" ></add>
      </protocols>
    </webServices>
  </system.web>

  <connectionStrings>

    
    <add name="DigitalCardConnection"  connectionString="Data Source=103.87.173.217;Initial Catalog=DigitalCard;uid=itfuturz;Pwd=MyNewOffice@2020;pooling='true'"
      providerName="System.Data.SqlClient" />
  
    <add name ="Excel03ConString"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HRD=No'"/>
    <add name ="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HRD=No'"/>
  </connectionStrings>
</configuration>